html{
    min-height: 100%;
    
}
body{
    background: linear-gradient(to bottom right, rgb(50, 42, 165), white , red); 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    padding-top: 20px;
}

h1{
    color: darkblue;
}
#container{
    display: flex;

}

#player-input{
    border: solid 2px ;
}

#add{
    color: darkblue;
    font-style: italic;
}
#add-bbPlayer{
    color: blue;
}

